<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='user/hist_pembelian.css') }}"
    />

    <!-- Icons -->
    <script src="https://cdn.jsdelivr.net/npm/feather-icons/dist/feather.min.js"></script>
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200"
    />

    <title>History Pembelian</title>
  </head>
  <body>

    <!-- Navbar start -->
    <nav class="navbar" id="navbar-before-login">
      <a href="#" class="navbar-logo">
        <span class="logo material-symbols-outlined"> stethoscope </span>
        <span class="judul-icon">MacKlinik</span>
      </a>

      <div id="tamu" class="navbar-nav">
        <a href="/">Home</a>
        <a href="/obat">Daftar obat</a>
        <a href="/keluhan">Keluhan</a>
        <a href="/artikel">Artikel</a>
        <select id="" class="dropdown" onchange="location = this.value;">
          <option value="">History</option>
          <option value="/hist_pembelian">Pembelian</option>
          <option value="/hist_keluhan">Keluhan</option>
        </select>   
        <select id="" class="dropdown" onchange="location = this.value;">
          <option value="#">Profile</option>
          <option value="#">User</option>
          <option value="/login_user">LogOut</option>
        </select>

      <a href="#" id="hamburger-menu"><i data-feather="menu"></i></a>
    </nav>
    <!-- navbar end -->

    <div class="container">
      <h1>History pembelian</h1>
      <div class="list-beli">
        <div class="beli">
          <div class="data-beli">
            <h3>pembelian #1</h3>
            <p>si pembeli</p>
            <p>12/12/2223</p>
          </div>
          <button onclick="lihatPembelian()">Lihat</button>
        </div>

        <div class="beli">
          <div class="data-beli">
            <h3>pembelian #1</h3>
            <p>si pembeli</p>
            <p>12/12/2223</p>
          </div>
          <button onclick="lihatPembelian()">Lihat</button>
        </div>

        <div class="beli">
          <div class="data-beli">
            <h3>pembelian #1</h3>
            <p>si pembeli</p>
            <p>12/12/2223</p>
          </div>
          <button onclick="lihatPembelian()">Lihat</button>
        </div>
        <button type="button" id="exit" onclick="exit()">EXIT</button>
      </div>
    </div>
    <!-- modal beli -->
    <div class="modal" id="editModal">
      <div class="modal-content">
        <span class="close-btn" onclick="closeModal()">&times;</span>
        <h2>Pembelian</h2>
        <div class="pmodal">
          <table>
            <thead>
              <tr>
                <th>Nama pembeli</th>
                <th>Nama Obat</th>
                <th>kuantitas</th>
                <th>Total Harga</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>saya</td>
                <td>panadol</td>
                <td>70</td>
                <td>290000</td>
              </tr>
            </tbody>
          </table>
        </div>
        <div class="tgl">
          <h3>Tanggal pembelian</h3>
          <p>12/12/2023</p>
        </div>

        <div class="bukti">
          <h3>Bukti Pembayaran</h3>
          <img src="{{ url_for('static', filename='user/img_obat/logo.png') }}" alt="bukti Pembayaran" />
        </div>

        <div class="status">
          <h3>Status</h3>
          <p>pending</p>
        </div>

        <script src="{{ url_for('static', filename='user/hist_pembelian.js') }}"></script>
  </body>
</html>
